.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.row:after {
  clear: both; }

.file {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 30px;
  float: left; }

h1 {
  width: 100%; }

.file {
  position: relative; }
  .file .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 0%;
    background-color: RGBA(0, 0, 0, 0.4);
    z-index: 10; }
  .file img.loading {
    width: 100%; }
  .file .schematic-wrapper {
    opacity: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3dbff+0,d3efff+27,d3efff+100 */
    background: #a3dbff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, #a3dbff 0%, #d3efff 27%, #d3efff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3dbff', endColorstr='#d3efff',GradientType=0 );
    /* IE6-9 */ }
  .file .schematic-container {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

.file.loaded .schematic-container {
  display: block; }

.file.loaded .schematic-wrapper {
  opacity: 100; }

.file {
  width: calc((100%/1) - 30px); }

#canvas {
  opacity: 0;
  position: fixed;
  top: -100%;
  left: -100%;
  z-index: -2; }
