@import 'global';
@import 'grid';

h1{
  width: 100%;
}

.file{
  position: relative;

  .progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 0%;
    background-color: RGBA(0,0,0,0.4);
    z-index: 10;
  }

  img.loading{
    width: 100%;
  }
  .schematic-wrapper{
    opacity: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3dbff+0,d3efff+27,d3efff+100 */
    background: #a3dbff; /* Old browsers */
    background: -moz-linear-gradient(top,  #a3dbff 0%, #d3efff 27%, #d3efff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3dbff), color-stop(27%,#d3efff), color-stop(100%,#d3efff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a3dbff 0%,#d3efff 27%,#d3efff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a3dbff 0%,#d3efff 27%,#d3efff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a3dbff 0%,#d3efff 27%,#d3efff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a3dbff 0%,#d3efff 27%,#d3efff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3dbff', endColorstr='#d3efff',GradientType=0 ); /* IE6-9 */
  }
  .schematic-container{
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.file.loaded{
  .schematic-container{
    display: block;
  }
  .schematic-wrapper{
    opacity: 100;
  }
}

.file{
  @include grid(3);
  @media screen and (max-width: $break-xl) {  @include grid(3);  }
  @media screen and (max-width: $break-l) {  @include grid(2);  }
  @media screen and (max-width: $break-m) {  @include grid(1);  }
  @media screen and (max-width: $break-s) {  @include grid(1);  }
  @media screen and (max-width: $break-xs) {  @include grid(1);  }
}

#canvas{
//  display: none;
  opacity: 0;
  position: fixed;
  top:-100%;
  left:-100%;
  z-index: -2;
}
