@import 'global';

html{
  background-color: #ddd;
}

*{
  font-family: 'Lato', sans-serif;
}

img{
  max-width: 100%;
}

h1{
  font-weight: 300;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.content:after{
  content: "";
  clear: both;
  display: table;
}

.widget .content{
  @extend %panel;
  h5{
    color: $blue;
    font-weight: 300;
    margin: 0;
  }
}

#app-nav{
  background-color: white;
  border-bottom: solid;
  border-color: #ccc;
  border-width: 1px;
}

#app-side-nav{
  background-color: rgba(255, 255, 255, 0.9);
  border-right: solid;
  border-color: #ccc;
  border-width: 1px;
  border-bottom-width: 0;

  .active{
    border-color: #269abc;
    color: #269abc;
  }

  ul{
    list-style: none;

    li{
      color: #777;
      font-weight: 300;
      border-bottom: solid;
      border-width: 1px;
      border-color: #ccc;
      a{
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
      }
    }
  }
}

