$break-xl: 1440px;
$break-l: 1280px;
$break-m: 1024px;
$break-s: 768px;
$break-xs: 624px;
$break-xxs: 375px;

$margin: 30px;

.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.row:after {
  clear: both;
}

%grid{
  margin-right: $margin;
  margin-bottom: $margin;
  min-height: 30px;
  float: left;
}

@mixin calc-width($amount) {
  width: calc((100%/#{$amount}) - #{$margin});
}

@mixin calc-width-12($amount) {
  width: calc((100%/12*#{$amount}) - #{$margin});
}

@mixin grid($col) {
  @extend %grid;
  @include calc-width($col);
}

@mixin grid-12($col) {
  @extend %grid;
  @include calc-width-12($col);
}