@import 'grid';

$nav-height: 70px;
$side-nav-width: 200px;
$padding: 42px;

.widget{
  @include grid(1);
}

nav{
  .left{
    float: left;
  }

  .middle{
    width: 112px;
    margin: 0 auto;
  }

  .right{
    float: right;
  }
}

#app-wrapper{
  height: 100vh;

  #app-nav{
    height: 30px;
    padding: 20px 30px;
  }

  #app-side-nav.open{
    left: 0;
    transition: left 1s;
  }

  #app-side-nav{
    z-index: 10;

    float: left;
    overflow: scroll;
    width: $side-nav-width;
    height: calc(100% - #{$nav-height});

    position: relative;
    left: 0;
    transition: left 1s;
    @media screen and (max-width: $break-m) {
      left:-$side-nav-width - 1;
    }
    a{
      display: block;
      padding: 20px 0 5px 0;
    }
    ul{
      padding-left: 30px;
      margin-top: 10px;
      li{
        //padding: 20px 0 5px 0;
      }
    }
  }

  #app-content-wrapper{
    float: right;
    padding-left: $margin;

    position: absolute;
    right: 0;
    top: $nav-height;
    transition: width 1s;

    height: calc(100% - #{$nav-height + $margin});
    width: calc(100% - #{$side-nav-width + $margin + 1});
    @media screen and (max-width: $break-m) {
      width: calc(100% - #{$margin});
    }
  }

  #content-wrapper{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding-top: $margin;

    overflow: scroll;

    @media screen and (max-width: $break-xs) {  width: 100%; }
  }

  #sidebar-wrapper{
    width: 250px;
    float: right;
    overflow: scroll;
    height: 100%;
    padding-top: $margin;
    @media screen and (max-width: $break-xs) {  width: 100%; }
  }
}