@import 'global';
@import 'grid';

.file .content{
  padding: 10px;
  @extend %panel;
  .date{
    font-weight: 300;
    font-size: 12px;
    color: #555;
  }
  .btn{
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid;
    border-width: 3px;
  }
  .btn:hover{
    border-width: 2px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  .view{
    background-color: $orange;
    border-color: $darkorange;
    @include border-bottom-left-radius(5px);
  }
  .download{
    background-color: $blue;
    border-color: $darkblue;
    @include border-bottom-right-radius(5px);
  }
}

.file{
  @include grid(5);
  @media screen and (max-width: $break-xl) {  @include grid(4);  }
  @media screen and (max-width: $break-l) {  @include grid(3);  }
  @media screen and (max-width: $break-m) {  @include grid(3);  }
  @media screen and (max-width: $break-s) {  @include grid(2);  }
  @media screen and (max-width: $break-xs) {  @include grid(1);  }
}

.file .content:hover .btn{
  display: block;
}

.file .content{
  position: relative;
  .head{
    height: 36px;
    width: 36px;
    float: left;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .date{
    height: 36px;
    float: left;
    line-height: 36px;
    margin-left: 10px;
  }
  .btn{
    display: none;
    width: calc(50% + 1px);
    position: absolute;
    padding: 5px 0;
    bottom: -25px;
  }
  .view{
    left: -1px;
  }
  .download{
    right: -1px;
  }
}

.file .content:after{
  content: "";
  clear: both;
  display: table;
}